##_dual_panelify <A-o>
screen_down <d>
screen_up <u>
fit_to_page_width_smart <C-=>
prev_state <H>
next_state <L>
goto_next_highlight <]>
goto_prev_highlight <[>
toggle_fullscreen <C-f>
toggle_synctex <C-s>
toggle_dark_mode <C-b>
toggle_presentation_mode <C-i>
# toggle_presentation_mode;toggle_presentation_mode <C-p>
toggle_fastread <C-r>
enter_visual_mark_mode V
goto_left zH
goto_right zL
goto_top_of_page zt
goto_bottom_of_page zb
copy y
copy_link <C-y>
goto_selected_text gv
next_page;goto_top_of_page <J>
next_page;goto_top_of_page <down>
previous_page <K>
previous_page <up>
fit_to_page_width_ratio;goto_top_of_page <=>
next_item;goto_top_of_page n
previous_item;goto_top_of_page N
goto_window gw
toggle_custom_color <C-,>
focus_text w
open_document_embedded_from_current_path <C-o>

overview_next_item <C-l>
overview_prev_item <C-h>

delete_highlight gdh
delete_bookmark gdb
delete_portal gdp
setconfig_autocenter_visual_scroll ga

goto_overview;fit_to_page_width_ratio <C-g>
toggle_visual_scroll;toggle_horizontal_scroll_lock go
goto_mark gm
overview_to_portal <C-p>
goto_page_with_page_number gs
_opendefault <A-o>
_outputh <A-s>
_add_red_text <A-t>
_translate_selected_text <A-g>
_translate_current_line_text;move_visual_mark_down <A-v>
_siri;move_visual_mark_down <C-j>
_siri2 <C-k>
_stopsay <C-u>


## tss key 
#    execute_command_a r
# execute_command_b <S-r>
# execute_command_e <C-<f5>>
# when we manually move the line, stop following it
# move_visual_mark_down;execute_command_d j
# move_visual_mark_up;execute_command_d k



## interesting find 2023-10-03
## toggle_title bar and status bar , use siri to speak
